@{
  Layout = "_Layout";
}
<h1>Authentication with Identity!</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{
  <p>Hello, @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" value="Log out"/>
  }
  <button>@Html.ActionLink("Home", "Index", "Home")</button>
}
else
{
<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("Register", "Register")</button>
}