<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Pierre's Dank Delicacies</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  <div class="container">
    @RenderBody()
    <hr/>
    <button>@Html.ActionLink("Home", "Index", "Home")</button>
    <button>@Html.ActionLink("All treats", "Index")</button>
    <button>@Html.ActionLink("All flavors", "Index", "Flavors")</button>
  </div>
</body>
</html>