@{
  Layout = "_TreatsLayout";
}
@using Pierre.Models
@model List<Pierre.Models.Treat>

<h1>Treats</h1>

@if (@Model.Any())
{
<ul>
@foreach (Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
}
</ul>
}
else
{
  <p>No treats have been added to the system</p>
}


<button>@Html.ActionLink("New treat", "Create")</button>